{% load static %}
<link rel="stylesheet" href="{% static 'styles/web_interface/user_side/header.css' %}">

<header>
    <nav>
        <ul>
            <!-- <li><a href="#">Home</a></li> -->
            <!-- <li><a href="#">About</a></li> -->
            <li><a href="/" class="logo"><img src="{% static 'images/E3D_logo.svg' %}" alt="E3D-Online Logo"
                        style="width: 150px;"></a></li>
            <!-- <li><a href="#">Services</a></li> -->
            <!-- <li><a href="#">Contact</a></li> -->
        </ul>
    </nav>
</header>