body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background-color: #0C0E32;
  color: white;
}

th,
td {
  text-align: left;
  padding: 12px;
  border-bottom: 1px solid #ddd;
}

.chart-container {
  position: relative;
  width: 100%;
}

canvas {
  width: 100%;
}

a {
  color: #0C0E32;
  text-decoration: none;
  display: inline-block;
  margin-top: 10px;
}

a:hover {
  text-decoration: underline;
}


.box-container {
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.box {
  border: 2px solid #000;
  border-radius: 7px;
  height: fit-content;
  margin: 10px;
  padding: 5px;
  box-sizing: border-box;
  width: calc(33.33% - 20px);
}

.box h2 {
  margin-bottom: 10px;
}

.list-container {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  text-align: left;
}

.list {
  list-style: none;
  margin: 0px;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.list li {
  opacity: 0;
  margin-bottom: 10px;
  transform: translateY(20px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.list li.visible {
  opacity: 1;
  transform: translateY(0);
}

.list li h3 {
  font-size: 1.2rem;
  margin: 0;
}

.list li p {
  margin: 0;
}

@media (max-width: 768px) {
  .box {
    width: calc(50% - 10px);
  }

  table {
    font-size: 14px;
    padding: 8px;
  }

  thead {
    display: none;
  }

  td:before {
    content: attr(data-title);
    font-weight: bold;
    display: block;
  }

  .chart-container {
    height: 400px;
  }

  canvas {
    height: 50%;
  }

  .box {
    width: 100%;
  }
  
  .list {
    flex-direction: column;
  }

  .list li {
    opacity: 1;
    transform: translateY(0);
  }
}

